{% extends "horses/layout.html" %}

{% block body %}
<div class="container"  style="text-align:center">
  <h3 class="display-5">Mot de passe oublié ? </h3>
  <br>
  <div style="text-align:center" class="cont2">
  <form method="post" style="width:50%" action="{% url 'resetpassword' %}">
    {% csrf_token %}
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email">
  </div>
  <br>
    <button class="btn btn-primary" type="submit" value="Récupérer">Envoyer un mail</button>
  </form>
</div>
</div>
{% endblock %}